body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
    background-color: #460729;
}
.ProfileName{
    margin-left: 0.5%;
    font-size: 30px;
    padding: 0.5% 0% 0.5% 5%;
}
.navbar{
    color: #f1d5e4;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.navbar a{
    height: 50%;
    text-decoration: none;
    color: white;
    padding: 10px;
}
.navbar a:hover{
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.nav_links{
    margin: auto;
    margin-right: 0.5%;
    display: flex;
    justify-content:space-evenly;
    padding: 50px;
}
.profileImage{
    width: 25%;
}
.profileText{
    color: tomato;
    padding-right: 10%;
}
.aboutSection{
    display: flex;
    justify-content:center;
    padding: 0%;
}
.about_detail{
    display: flex;
    flex-direction: row;
}
.profileImage_detail{
    width: 25%;
}
.profileText_detail{
    color: white;
}
.profileText_detail ul{
    list-style: none;

}