body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
}
#ProfileName{
    font-size: 30px;
    /* padding: 10px 0px 0px 40px; */
    padding: 2% 0% 2% 5%;
}
.navbar{
    color: #f1d5e4;
    background-color: #460729;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.navbar a{
    height: 50%;
    text-decoration: none;
    color: white;
    padding: 10px;
}
.nav_links{
    display: flex;
    justify-content:space-evenly;
    padding: 50px;
}